
{% block filter %}
<button class="btn btn-danger btn-lg dropdown-toggle" type="button" 
id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" 
aria-expanded="false">Filter by Country Groups</button>

<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="check-boxes">
  <form class="px-4 py-3" role="form" method="post" action="/population" id="form-filter">
  {% for group in data_filter_list %}
  <div class="form-check">
    {% if group in active_btns %}
      <input class="form-check-input" type="radio" name="Radio1" value = "{{ group }}" checked>
      <label class="form-check-label" for="Radio1">
      {{ group }} 
      </label>
    {% else %}
      <input class="form-check-input" type="radio" name="Radio1" value = "{{ group }}">
      <label class="form-check-label" for="Radio1">
      {{ group }} 
      </label>
    {% endif %}
  </div>
  {% endfor %}
  <button id="country_selector" type="submit" class="btn btn-primary my-1">Submit</button>
</div>

{% endblock %}